body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group label {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
  }
  
  .radio-group label:hover {
    background-color: #ddd;
  }
  
  .radio-group input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #000 0%, #000 50%, #007bff 100%);
    background-size: 100% 100%;
    animation: cosmic 10s linear infinite;
    z-index: -1;
  }
  
  @keyframes cosmic {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }